.model-links {
    text-align: right;
}
.model-link {
    display: inline-block;
    text-align: center;
    color: #f3d9fa;
    /*border: 1px solid #dbdbdb;*/
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-right: 15px;
    padding: 7px;
    transition: all .3s ease;
    font-size: 1.3rem;
}

.model-link:hover {
        color: #1a1a1a;
        background-color: #dbdbdb;
    
}
.active {
    color: #51fc42;
}
.models {
   
}
.model-title {
    color: #e3e3e3;
    font-size: 3rem;
}
.model-text {
    font-size: 1.2rem;
    color: #d1d1d1;
}