html {
    scroll-behavior: smooth;
}

body {
    /* background:linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%), #0F1145 repeat 0 0;  
   background:-moz-linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%), #0F1145 repeat 0 0; */
    min-width: 100%
}
/*Header*/
header {
    background-color: transparent;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    }

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(102, 7, 197,0.5);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
.m-height {
    min-height: 100vh;
}
.center {
    text-align: center;
}
.logo {
    width: 80%;
    height: 80%;
}

.container-xxl {
    max-width: 1100px;
}

.navbar {
    padding-top: 3.3rem
}

.navbar-nav {
    padding-top: 0.5rem;
}

.nav-link {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #B5B5B5;
    transition: all .3s ease;
}

.dropdown-toggle::after {
    border: transparent;
}

.show {
    transition: all 0.2s ease;
}

    .show::after {
        border: 1px;
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
        position: absolute;
        top: 28px;
        left: 5px;
    }

.sign-link {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    display: block;
    width: 112px;
    height: 36px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    display: block;
}

.sign-in-link {
    color: #F2994A;
    border: 1px solid #F2994A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    margin-right: 2rem;
    background-color: transparent;
}

    .sign-in-link:hover {
        color: #fff;
        background-color: rgba(15, 12, 9, 0.262);
        border-color: #B5B5B5;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    }

.sign-up-link {
    color: #fff;
    background-color: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    border-color: transparent;
}

    .sign-up-link:hover {
        color: #1d130a;
        background-color: #ffc593;
        border: 1px solid #F2994A;
        box-shadow: 0px 0px 0px rgba(242, 153, 74, 0.5)
    }

.modal-content {
    background-color: rgba(32, 32, 32,0.95);
    color: #fff;
}

.dropdown-menu {
    background-color: rgb(220, 176, 251);
    color: #2c2c2c;
}

.dropdown-item:hover {
    background-color: rgb(246, 176, 220);
}

.title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2.75rem;
    line-height: 3.125rem;
    color: #99EFD0;
}

.text {
    font-size: 1.25rem;
    line-height: 1.375rem;
    color: #8476AA;
}

.learn-more__title {
    margin-bottom: 2.3rem;
}

.learn-more__text {
    margin-bottom: 3rem;
}


.learn-more__btn {
    width: 157px;
    height: 46px;
    padding-top: 12px;
}

main {
    padding-top: 70px;
}
.main__content {
    background: linear-gradient(192deg,rgba(54, 0, 51,0.2),rgba(11, 135, 147,0.2));
    -webkit-box-shadow: inset 0px 1px 18px -1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 18px -1px rgba(0,0,0,0.3);
    border: 1px solid rgba(181, 181, 181,.4);
    min-height: 100vh;
    border-radius: 12px;
    padding: 1rem;
    color: #B5B5B5;
}

.main__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.main__title {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1.4rem;
}

.main__title-link {
    font-size: 2rem;
    color: rgba(227, 228, 229, .8);
}

.main__title-link:hover {
    text-decoration: underline;
    color: #fff;
}

.main__text {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 2.3rem;
}

.main__content-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(63, 63, 63,0.7);
    border-radius: 5px;
    text-align: left;
    padding: 0.6rem;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.main__price {
    color: rgb(122, 239, 169);
    font-size: 1rem;
}


.form__input-group {
    display: block;
    margin-bottom: 2rem;
}

.form__label {
    text-align: left;
    font-size: 1.1rem;
}

.form__input {
    border-radius: 8px;
    background-color: rgb(242, 242, 242);
}

@media only screen and (max-width: 992px) {
    .logo {
        width: 100%;
        height: 100%;
    }

    main {
        padding-top: 10px;
    }

    .learn-more__image {
        padding-top: 30px;
    }

    .learn-more__image img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .form__label {
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .logo {
        width: 100%;
        height: 100%;
    }

    main {
        padding-top: 10px;
    }
    .main-image {
        width: 100%;
        height: auto;
    }

    .learn-more__image {
        padding-top: 30px;
    }

        .learn-more__image img {
            width: 100%;
        }
}

@media only screen and (max-width: 576px) {
    :root {
        font-size: 12px;
    }
}

.btn-close {
    background-image: url("../images/cross.svg");
}

.btn:hover {
    background-color: rgb(20, 17, 17);
    color: #fff;
}

.required {
    position: relative;
}

    .required::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        background: transparent url("../images/asterisk.svg") left/0.3em no-repeat;
    }

.frame {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    background: url('../images/Frame.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35.75rem;
}
.privacy {
    color: #B5B5B5;
}
.privacy a {
    color: aqua;
}
.contact {
    font-weight: 700;
    text-decoration: underline;
}
.page-link {
    background-color: transparent;
    color: #bdbdbd;
    border-color: #bdbdbd;
}
.page-item.active .page-link {
    background-color: #170226;
    border-color: #bdbdbd;
}
.footer {
    text-align: center;
    padding: 10px 0;
}