@{
    ViewData["Title"] = "Sucess!";
}
<div class="main__content m-height">
    <div class="main__title center text-success">
        The @ViewBag.Success has successfully created!
    </div>
    <div class="main__text">
        <a style="display: block" class="center" asp-controller="Home" asp-action="Index">On main page</a>
    </div>
</div>