@*@using FitnessSuperiorMvc.BLL.Dto.Programs.Sport
@using FitnessSuperiorMvc.DA.Entities.Sport
@model List<FitnessSuperiorMvc.DA.Entities.Sport.SetOfExercises>

<div class="main__content m-height">
    <div class="main__title center">
        Add complex to program
    </div>
    <div class="adding-container">
        @if (Model.Any())
        {
            <table class="table" style="color: #ccc">
                <tr>
                    <th>Name</th>
                    <th>MuscleGroup</th>
                    <th></th>
                </tr>
                @foreach (SetOfExercises complex in Model)
                {
                    <tr>
                        <td>@complex.Name</td>
                        <td>@complex.MuscleGroups</td>
                        <td><a asp-action="RemoveComplexFromProgram" asp-route-id="@complex.Id" class="cross">&#10008;</a></td>
                    </tr>
                }
            </table>
        }
       
        <div class="d-flex justify-content-between">
            <a class="grey-btn" asp-action="ExistingComplexes" asp-controller="Workout">Add complex</a>
            @if (Model.Count < 1)
            {
                <a class="grey-btn-disabled" title="At least 1 complex">Create Program (At least 1 complex)</a>
            }
        
            else
            {
                <a class="grey-btn" asp-action="CreateProgram" asp-controller="Workout">Create program</a>
            }
        
        </div>
    </div>
</div>*@