@{
    ViewData["Title"] = "Create Exercise";
}
@using FitnessSuperiorMvc.WEB.ViewModels.Services.Sport
@model ExerciseViewModel
<div class="main__content m-height">
    <div class="main__title center">
        Create exercise
    </div>
    <div class="main__text center">
        Fill out the form below to create your own exercise
    </div>
    <form class="main__form center" asp-action="CreateExercise" asp-controller="Workout" method="post">
        <div class="form__input-group row">
            <label class="form__label col-md-2" asp-for="Name">Exercise name:</label>
            <input class="form__input col-md-3" type="text" asp-for="Name" placeholder="from 6 to 50 symbols" asp-validation-for="name">
            <span asp-validation-for="Name" class="text-danger" style="display: block"></span>
        </div>
        <div class="form__input-group row">
            <label class="form__label col-md-2" asp-for="MuscleGroups">Active muscles:</label>
            <textarea class="form__input col-md-3" type="text" asp-for="MuscleGroups" rows="2" placeholder="up to 300 symbols"></textarea>
            <span asp-validation-for="MuscleGroups" class="text-danger" style="display: block"></span>
        </div>
        <input type="submit" class="btn btn-light" value="Create">
    </form>

</div>

