@{
    ViewData["Title"] = "My programs";
}
<div class="main__content">
    <h1 class="main__title center">
        My workout programs
    </h1>
    <hr>
    <section class="main__content-section">
        <h2 class="main__title center">
            <a class="main__title-link" href="#">Name of the program</a>
        </h2>
        <p class="main__text center">
            There will be a description of the program
        </p>
        <ul class="main__list">
            <li class="main__item">Type of diet: </li>
            <li class="main__item">Specialist: </li>
        </ul>
    </section>
    <section class="main__content-section">
        <h2 class="main__title center">
            <a class="main__title-link" href="#">Name of the program</a>
        </h2>
        <p class="main__text center">
            There will be a description of the program
        </p>
        <ul class="main__list">
            <li class="main__item">Type of diet: </li>
            <li class="main__item">Specialist: </li>
        </ul>
    </section>

</div>