@model FitnessSuperiorMvc.BLL.Dto.Services.Sport.TrainingProgramDto
<div class="main__content reg-content m-height">
    <div class="models">
        <h1 class="model-title center">@Model.Name</h1>
        <p class="model-text center">Active muscles: @Model.TypeOfProgram</p>
        <p class="model-text center">Description: @Model.Description</p>
    </div>
    @section Styles{
        <link href="~/css/model.css" type="text/css" rel="stylesheet" />
    }
</div>