@{
    ViewData["Title"] = "Calendar";
}

<div id='calendar'></div>

@section Styles
{
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" rel="stylesheet" />
    <link href="~/css/calendar.css" rel="stylesheet"/>
}
@section Scripts
{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <script src='~/js/calendar.js'></script>
}
