<div class="modal fade" id="sign-in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="login">
                    <div class="mb-3">
                        <label class="form-label required" for="logEmail">Email address</label>
                        <input class="form-control" id="logEmail" name="email" type="email" placeholder="example@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="logPassword">Password</label>
                        <input class="form-control" id="logPassword" name="password" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
