
@{
    ViewData["Title"] = "Home Page";
}

<div class="row learn-more">
    <div class="col-lg learn-more__body">
        <h2 class="title learn-more__title">
            It’s time to start working on yourself. Register and get better with us!
        </h2>
        <p class="text learn-more__text">
            The harder you work for something, the greater you’ll feel when you achieve it.
        </p>
        <a class="sign-in-link sign-link learn-more__btn" asp-controller="Home" asp-action="About">Learn more</a>
    </div>
    <div class="col-lg learn-more__image">
        <img class="main-image" src="~/images/Vector.svg" alt="vector">
    </div>
</div>
