@using FitnessSuperiorMvc.BLL.Dto.Services.Sport
@using FitnessSuperiorMvc.BLL.Services
@using FitnessSuperiorMvc.BLL.BusinessModels.Services.Sport
@model List<ExerciseDto>

<div class="main__content m-height">
    <div class="main__title center">
        Add exercise to complex
    </div>
    <div class="adding-container">
        @if (Model.Any())
        {
            <table class="table" style="color: #ccc">
                <tr>
                    <th>Name</th>
                    <th>MuscleGroup</th>
                    <th></th>
                </tr>
                @foreach (ExerciseDto exercise in Model)
                {
                    <tr>
                        <td>@exercise.Name</td>
                        <td>@exercise.MuscleGroups</td>
                        <td><a asp-action="RemoveExerciseFromComplex" asp-route-id="@exercise.Id" class="cross">&#10008;</a></td>
                    </tr>
                }
            </table>
        }
       
    <div class="d-flex justify-content-between">
        <a class="grey-btn" asp-action="ExistingExercises" asp-controller="Workout">Add exercise</a>
        @if (Model.Count < 3)
        {
            <a class="grey-btn-disabled" title="At least 3 exercises">Create complex (At least 3 exercises)</a>
        }
        
        else
        {
            <a class="grey-btn" asp-action="CreateComplex" asp-controller="Workout">Create complex</a>
        }
        
    </div>
    </div>
</div>