@{
    ViewData["Title"] = "Nutrition resources";
}
<div class="main__content m-height center">
    <h1 class="main__title">Articles about nutrition</h1>
    <p class="main__text">How to eat right? How to compose your diet? Read the articles below to find out</p>
    <div class="articles row">
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
    </div>
    <div class="articles row">
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
    </div>
    <div class="articles row">
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
        <article class="resource-article col-md">
            <h3 class="resource-article__title">
                <a class="resource-article__title-link" href="#">
                    Title here
                </a>
            </h3>
            <p class="resource-article__text">
                Description here!
            </p>
            <img class="resource-article__img" src="~/images/blank.png" alt="article_img" />
        </article>
    </div>
</div>
@section Styles
{
    <link href="~/css/resouces.css" rel="stylesheet" />
}