@model Microsoft.AspNetCore.Identity.IdentityUser

<div class="main__content reg-content m-height">
    @if (User.IsInRole("Admin"))
    {
        <partial name="~/Views/Account/_managerProfile.cshtml" />
    }
    else if (User.IsInRole("Nutritionist"))
    {
        <partial name="~/Views/Account/_nutritionistProfile.cshtml" />
    }
    else if (User.IsInRole("Trainer"))
    {
        <partial name="~/Views/Account/_trainerProfile.cshtml" />
    }
    else if (User.IsInRole("User"))
    {
        <partial name="~/Views/Account/_userProfile.cshtml" />
    }


</div>

@section Styles
{
    <link href="~/css/auth.css" type="text/css" rel="stylesheet" />
}
